BasedOnStyle: Google

AlignAfterOpenBracket: DontAlign

ContinuationIndentWidth: 2
AllowAllParametersOfDeclarationOnNextLine: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2

IndentWrappedFunctionNames: true

AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach

